<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<!-- <li id="CreateIdentiy" class=""><a href="create_identity">Create Identity<span class="sr-only">(current)</span></a></li> -->
					<% if (req.user.role == 'AD') { %>
						<li id="CreateIdentiy" class=""><a href="admin">Admin Page<span class="sr-only">(current)</span></a></li>
					<% }%>
					<% if (req.user.role == 'TR') { %>
					<li id="CreateIdentiy" class=""><a href="teacher">Teacher Page<span class="sr-only">(current)</span></a></li>
					<% }%>
				</ul>
			</div>