<header ng-init="init()" class="sub-header panel-heading">{{Heading}}
	<span ng-click="AddCourseDiv()" class="glyphicon glyphicon-plus btn btn-default pull-right" ng-show="ActionBtn">
        {{Action}} Course
	</span>
</header>

	<div  ng-show="divList" class="table-responsive animate-show">
        <table class="table table-striped table-advance table-hover">
            <tr>
				<th>Course Name</th>
				<th><i class="icon_profile"></i> Teacher Name</th>
				<th>Classes</th>
                <th><i class="icon_cogs"/> Action</th>
            </tr>
            <tr ng-repeat="course in courses">
                <td>{{course.name}}</td>
				<td>{{course.teacher.firstName}}&nbsp;{{course.teacher.lastName | uppercase }}</td>
				<td >
                    <div  class="virtualRepeatdemoDeferredLoading" ng-cloak="">
					  <md-content layout="column">
						<md-virtual-repeat-container id="vertical-container">
						  <div ng-repeat="class in course.classes" md-on-demand="" class="repeated-item"  flex="">
							{{class.name}}
						  </div>
						</md-virtual-repeat-container>
					  </md-content>
					</div>
                </td>
                <td>
					<a class="btn btn-primary" ng-click="editCourse(course)" alt="Edit course.name" title="Edit course.name" href="javascript:void(0);">
					<i class="icon_plus_alt2"/>
					</a>
					<a class="btn btn-danger" ng-click="deleteCourse(course)" href="javascript:void(0);" alt="Delete course.name" title="Delete course.name">
						<i class="icon_close_alt2"/>
				</a>
                </td>
            </tr>
        </table>
    </div>
	
	   
    <div ng-show="divAction" class="animate-show">
        <p class="divHead"></p>
        <table class="table">
            <tr>
                <td><strong>Course Name *</strong></td>				
                <td>
                    <input type="text" ng-model="coursename" />
                </td>
            </tr>
			
			<tr>
                <td><strong>Select Teacher *</strong></td>				
                <td>
					<select style="min-width: 200px;" ng-model="teachername" ng-options="teacher._id as teacher.firstName + ' '+teacher.lastName  for teacher in teachers | filter:{role: 'TR'}">
					<option value="">--Select Teacher--</option></select>
                </td>
            </tr> 
			
			<tr>
				<td><strong>Select Classes</strong></td>
                <td><select multiple size="5" style="min-width: 200px;" ng-model="previous_selection" ng-options="class._id as class.name for class in classes">
				</select><br><span class="errorMessage">Ctrl+Click for multiple selection<span></td>
            </tr>
			
            
            <tr>
                <td colspan="2">
                    <input type="button" class="btn btn-default" value="Save" ng-click="AddUpdateUser()" />
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
                </td>
            </tr>
        </table>        
    </div>
	<div ng-show='divErrMessage'  class="alert alert-warning">
		<strong>{{errorMessage}}</strong> 
	</div>
</div>