    
<div ng-controller="CourseCtrl">
	<h2 class="sub-header">Course    :  {{course.name}}</h2>
	<span ng-repeat="class in course.classes">
	<h3 class="sub-header">Class   : {{class.name}} 
		<br/>Students : <span ng-repeat="student in class.students"> {{getStudentName(student)}} {{$last ? '' : ', '}}</span>
					
	</h3>
	</span>	
	

</div>
</div>


<div class="tabsdemoDynamicHeight" ng-cloak="">
	<md-content>
		<md-tabs md-dynamic-height="" md-border-bottom="">
			<md-tab label="Files">
				<md-content class="md-padding">
				    
					<div id="fileSection" >
						<div ng-show="showFileList" class="table-responsive">
							<table  class="table table-striped table-hover table-bordered" show-filter="true">
								<thead>
									<tr>
										<th>ID</th>
										<th>File Name</th>
										<th>Size</th>
										<th>Uploaded by</th>
										<th>Download</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in files | filter : paginate">
										<td>
                    {{file._id}}
										</td>
										<td>
                    {{file.originalname}}
										</td>
										<td>
                    {{file.size/1000}} KB	
										</td>
										<td>
                    {{file.ownerId.firstName}} {{file.ownerId.lastName}}
										</td>
										<td>
											<a href="/api/Courses/{{course._id}}/files/{{file._id}}">
												<span  class="btn btn-primary">Download</span>
											</a>

										</td>

										<td>
											<span ng-show="file.editable" ng-click="deleteFile(file)" class="btn btn-primary">Delete</span>

										</td>
									</tr>
								</table>
								<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
								</pagination>
								<span class="btn btn-default pull-right" ng-click="upload()"  >Upload File </span>
					</br>
							</div>



							<div ng-show='showFileUpload' >
								<form method="post" enctype="multipart/form-data" action="{{formActionPath}}"/>
								<table class="table">
									<tr>
										<td>
											<h2 class="sub-header">Upload File</h2>
										</td>
										<td/>
										<td/>
										<td/>
									</tr> 
									<tr>
										<td>
											<b>File *</b>
										</td>
										<td>
											<input type="file" name="file" />
										</td>
									</tr>           
									<tr>
										<td/>
										<td >
											<input ng-model="file" type="submit" ng-click="refreshFilesList()" class="btn btn-default" value="Upload" />
											<span class="btn btn-default" ng-click="cancel()" value="Cancel" >Cancel</span>

										</td>
									</tr>
								</table>  
							</form >
						</div>

					</md-content>
				</md-tab>
				<md-tab label="Messages">
					<md-content class="md-padding">
						<div ng-controller="MessageCtrl" ng-init="init()">
							<div class="sub-header clearfix">
								<h2 class="pull-left">{{Heading}}</h2>
								<button type="button" ng-click="init()" class="btn btn-info pull-right">Refresh</button>
								<button type="button" ng-click="AddElementDiv()" class="btn btn-info pull-right" ng-show="ActionBtn">{{Action}} Message</button>
							</div>
							<div  ng-show="divList" class="table-responsive animate-show">
								<table class="table table-striped">
									<tr>
										<th>Messages</th>
									</tr>
									<tr ng-repeat="message in messages | filter : paginate">
										<td>
											<div class="mainContainer">	
												<div class="childContainers">
													<div class="title clearfix">
														<div class="pull-left">
															<strong>{{message.ownerId.firstName}}&nbsp;{{message.ownerId.lastName | uppercase }}</strong>&nbsp;
															<i>{{message.date |  date:"MM/dd/yyyy 'at' h:mma"}}</i>
														</div>
														
													</div>
													<div class="DataContainer">
														<p ng-bind-html="message.content"></p>
													</div>
												</div>
												<div class="pull-right">
													<span ng-show="message.editable" ng-click="editElement(message)" class="btn btn-primary">Edit</span>
													<span ng-show="message.editable" ng-click="deleteElement(message)" class="btn btn-danger">Delete</span>
												</div>
											</div>
										</td>
									</tr>
								</table>
								<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
								</pagination>
							</div>


							<div ng-show="divAction" class="animate-show">
								<p class="divHead"></p>
								<table class="table">
									<tr>
										<td>
											<strong>Message *</strong>
										</td>				
										<td class="container app">
											<div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
											<textarea ng-model="htmlcontent" ng-show="contentShow" style="width: 100%; "></textarea>
										</td>
									</tr>
									   <tr>
											<td colspan="2">
												<input type="button" class="btn btn-default" value="Save" ng-click="AddUpdateElement()" />
												<input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
											</td>
										</tr>
								</table>       
																
							</div>
							<div ng-show='divErrMessage'  class="alert alert-warning">
								<strong>{{errorMessage}}</strong> 
							</div>
						</div>
					</md-content>
				</md-tab>

			</md-tabs>
		</md-content>
	</div>



	<div ng-show='divErrorMessage'  class="alert alert-warning">
		<strong>{{errorMessage}}</strong> 
	</div>
	