<header ng-init="init()" class="sub-header panel-heading alert alert-info">{{Heading}}
	<span ng-click="AddCourseDiv()" class="glyphicon glyphicon-plus btn btn-primary pull-right" ng-show="ActionBtn">
	</span>
</header>
<div  ng-show="divList" class="table-responsive animate-show">
        <table class="table table-striped table-advance table-hover">
            <tr>
				<th>Course Name</th>
				<th class="hidden-sm"><i class="icon_profile"></i> Teacher Name</th>
				<th class="hidden-sm">Classes</th>
                <th><i class="icon_cogs"/> Action</th>
            </tr>
            <tr ng-repeat="course in courses | filter : paginate">
                <td>{{course.name}}</td>
				<td class="hidden-sm">{{course.teacher.firstName}}&nbsp;{{course.teacher.lastName | uppercase }}</td>
				<td class="hidden-sm">
                    <div  class="virtualRepeatdemoDeferredLoading" ng-cloak="">
					  <md-content layout="column">
						<md-virtual-repeat-container id="vertical-container">
						  <div ng-repeat="class in course.classes" md-on-demand="" class="repeated-item"  flex="">
							{{class.name}}
						  </div>
						</md-virtual-repeat-container>
					  </md-content>
					</div>
                </td>
                <td>
					<a class="btn btn-primary" ng-click="editCourse(course)" alt="Edit course.name" title="Edit {{course.name}}" href="javascript:void(0);">
					<i class="icon_plus_alt2"/>
					</a>
					<a class="btn btn-danger" ng-click="deleteCourse(course)" href="javascript:void(0);" alt="Delete course.name" title="Delete {{course.name}}">
						<i class="icon_close_alt2"/>
				</a>
                </td>
            </tr>
        </table>
		<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
	</pagination>
    </div>
	
	   
<div ng-show="divAction" class="panel-body animate-show">
	<div class="form">
       <form class="form-validate form-horizontal " id="register_form" method="get" action="">
        <p class="divHead"></p>
		 <div class="form-group col-lg-12">
			  <label for="coursename" class="control-label col-lg-4"><strong>Course Name<span class="alert-danger">*</span></strong></label>
			  <div class="col-lg-7 input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
			  <input class="form-control" type="text" ng-model="coursename" name="coursename" id="coursename" placeholder="Course Name" />
			  </div>
		  </div>
		  
		  <div class="form-group col-lg-12">
			  <label for="teachername" class="control-label col-lg-4"><strong>Select Teacher<span class="alert-danger">*</span></strong></label>
			  <div class="col-lg-7 input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                           <select ng-model="teachername" id="teachername" ng-options="teacher._id as teacher.firstName + ' '+teacher.lastName  for teacher in teachers | filter:{role: 'TR'}" class="form-control selectpicker">
					<option value="">--Select Teacher--</option></select>
			  </div>
		  </div>
		  
		  <div class="form-group col-lg-12">
			  <label for="previous_selection" class="control-label col-lg-4"><strong>Select Classes<span class="alert-danger">*</span></strong></label>
			  <div class="col-lg-7 input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                  <select multiple size="5" ng-model="previous_selection" id="previous_selection" ng-options="class._id as class.name for class in classes" class="form-control selectpicker">
				</select>
			  </div>
			  <span class="required pull-right col-lg-8">Ctrl+Click for multiple selection<span>&nbsp;&nbsp;&nbsp;
		  </div>
		  <div class="form-group">
			  <div class="col-lg-offset-2 col-lg-10">
				  <button class="btn btn-success" type="button"  ng-click="AddUpdateUser()"><span class="glyphicon glyphicon-ok"></span>Save</button>
				  <button class="btn btn-danger" type="button" ng-click="Cancel()"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
			  </div>
		  </div>
	  </form>
  </div>
</div>
	</div>
      
    </div>
<div ng-show='divErrMessage'  class="alert alert-warning">
	<strong>{{errorMessage}}</strong> 
</div>