
<div ng-controller="BroadcastCtrl" ng-init="init()">

<div>
							<div class="sub-header clearfix">
								<h2 class="pull-left">{{Heading}}</h2>
								<button type="button" ng-click="init()" class="btn btn-info pull-right">Refresh</button>
								
							</div>
						
						<div ng-repeat="message in messages | filter : paginate">
								
								<div class="datta_date" >
								{{message.date | date:"MM/dd/yyyy 'at' h:mma"}}
									<hr/>
									<span ng-repeat="class in message.classes">
											{{ class.name}}
									</span>
									<span ng-show="message.classes.length == 0">
										No classes assigned
									</span>
								</div>
						
								<div class="datta_msg_box" >
									<span style="color:black;">{{message.title}} </span>
									<hr style="color:black;padding:0;margin:0;"/>
									<span>{{message.content}} </span>
								</div>
							</div>
											
								<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
								</pagination>
							</div>

						<div ng-show='divErrorMessage'  class="alert alert-warning">
		<strong>{{errorMessage}}</strong> 
	</div>
</div>
</div>


	
	