    <h2 class="sub-header">List of Courses</h2> 
		<div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" show-filter="true">
			<thead>
            <tr>
				<th>ID</th>
				<th>Name</th>
				<th>Class</th>
				<th>Students</th>
            </tr>
			</thead>
			<tbody>
            <tr ng-repeat="course in courses | filter : paginate">
                <td>
                    {{course._id}}
                </td>
                <td>
                    {{course.name}}
                </td>
				<td>
				 <span ng-repeat="class in course.classes">
				 
                    {{class.name}}
					</span>
                </td>
                <td>
                    <span ng-click="showCoursePage(course);" class="btn btn-primary">View Course Page</span>
                  
                </td>
            </tr>
			</tbody>
        </table>
		 <pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>
    </div>
	
	<div ng-show='divErrorMessage'  class="alert alert-warning">
		<strong>{{errorMessage}}</strong> 
	</div>