<!DOCTYPE html>
<html lang="en">
<head >
<% include partials/head.html %>
<title><%=title %></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.layouts.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.5/angular-material.min.css">
<link rel="stylesheet" href="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.css">
<link rel="stylesheet" href="https://material.angularjs.org/1.0.5/docs.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
<script src="https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.js"></script>
</head>

<body ng-app="UserCrudOps">

<% include partials/top.html %>
<% include admin_sidebar.html %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div ng-controller="UserCrudOpsCtrl">
<div ng-view></div>

</div>
</div>
</div>
<script src="js/angular/configurations/admin.js"></script>

<script src="js/angular/services.js"></script>
<script src="js/angular/controllers/course-controller.js"></script>
<script src="js/angular/controllers.js"></script>
<script src="http://vitalets.github.io/checklist-model/checklist-model.js"></script>


<% include partials/bottom.html %>
</body>
</html>