<% include partials/head.html %>
<link rel="stylesheet" href="css/index-style.css">
<link rel="stylesheet" href="css/animate-custom.css">
<title>Login Page</title>
</head>

<body>

 <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
							<div class="clearfix animated flipInY">
							<div class="logoImage indexPageLogo"></div>
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to Epita:</h3>
                            		<p>Enter your username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
								<div class="form-group has-error">
									<% if (message) { %>
									<p class="error"><%= message %></p>
									<% } %>
								</div>
			                    <form role="form" action="" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="username" id="username"  placeholder="Username..." class="form-username form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="password" id="password" placeholder="Password..." class="form-password form-control">
			                        </div>
									<label>
										<input type="checkbox" value="remember-me" /> Remember me</label>
			                        <button type="submit" class="btn">Sign in!</button>
			                    </form>
		                    </div>
                            </div>
                        </div>
                    </div>
				</div>
                   
<% include partials/bottom.html %>
<script src="./js/jquery.backstretch.min.js"></script>
<script src="./js/scripts.js"></script>
 <!--[if lt IE 10]>
	<script src="assets/js/placeholder.js"></script>
<![endif]-->
</body>
</html>